@mixin borders {
  border: 3px solid rgb(3, 67, 92);
  border-radius: 5px;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}
@mixin flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
@mixin tamanio {
  width: 100px;
  height: 100px;
}
body {
  background-image: url("../images/nashor.jpg");

  background-repeat: no-repeat;
}
.container {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 7px;

  .PersonajesIzquierda,
  .PersonajesDerecha {
    grid-area: 1 / 1 / 6 / 2;

    display: flex;
    flex-direction: column;

    [class^="personaje"] div {
      .descripcion {
        width: 200px;
        padding-left: 20px;
      }
      div {
        display: flex;
        flex-direction: column;
        border: none;

        #title {
          font-size: 15px;
          align-self: flex-start;
        }
        #name {
          align-self: flex-start;
        }
      }
      @include flex();
      @include borders();
      width: 300px;

      margin-bottom: 10px;
      background-color: rgb(9, 20, 26);

      color: white;
    }
    .personaje1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .personaje2 {
      grid-area: 2 / 1 / 3 / 2;
    }
    .personaje3 {
      grid-area: 3 / 1 / 4 / 2;
    }
    .personaje4 {
      grid-area: 4 / 1 / 5 / 2;
    }
    .personaje5 {
      grid-area: 5 / 1 / 6 / 2;
    }
  }
  .PersonajesDerecha {
    grid-area: 1 / 3 / 6 / 4;
    [class^="personaje"] {
      @include flex();
    }
  }
  .Buscador {
    grid-area: 1 / 2 / 2 / 3;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    input {
      background: radial-gradient(ellipse at center, rgba(65, 86, 99, 1) 0%, rgba(17, 36, 43, 1) 100%);
      padding: 0;
      border: none;
      color: white;
      height: 35px;
    }
    #busca {
      display: flex;
    }
    div {
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
  .Campeones {
    grid-area: 2 / 2 / 6 / 3;
    background-color: rgb(17, 35, 47);
    @include borders();
    display: inline-flex;
    flex-wrap: wrap;
    overflow: scroll;
    height: 530px;
    margin: 3px;
    justify-content: center;
    
    
    div {
      margin: 2px;
    }

    // 
    
&::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgb(5, 17, 24);
}

&::-webkit-scrollbar
{
	width: 12px;
	background-color: rgb(5, 17, 24);
}

&::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(15, 72, 89);
}
    //
  }
  .BansIzquierda {
    grid-area: 6 / 1 / 7 / 2;
    background-color: black;
  }
  .Chat {
    grid-area: 6 / 2 / 7 / 3;
    background-color: blue;
  }
  .BansDerecha {
    grid-area: 6 / 3 / 7 / 4;
    background-color: black;
  }
}
