body {
  background-image: url("../images/nashor.jpg");
  background-repeat: no-repeat;
}

.container {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 7px;
}

.container .PersonajesIzquierda,
.container .PersonajesDerecha {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 6 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .PersonajesIzquierda [class^="personaje"] div,
.container .PersonajesDerecha [class^="personaje"] div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 3px solid #03435c;
  border-radius: 5px;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  margin-bottom: 10px;
  background-color: #09141a;
  color: white;
}

.container .PersonajesIzquierda [class^="personaje"] div .descripcion,
.container .PersonajesDerecha [class^="personaje"] div .descripcion {
  width: 200px;
  padding-left: 20px;
}

.container .PersonajesIzquierda [class^="personaje"] div div,
.container .PersonajesDerecha [class^="personaje"] div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
}

.container .PersonajesIzquierda [class^="personaje"] div div #title,
.container .PersonajesDerecha [class^="personaje"] div div #title {
  font-size: 15px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container .PersonajesIzquierda [class^="personaje"] div div #name,
.container .PersonajesDerecha [class^="personaje"] div div #name {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container .PersonajesIzquierda .personaje1,
.container .PersonajesDerecha .personaje1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.container .PersonajesIzquierda .personaje2,
.container .PersonajesDerecha .personaje2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.container .PersonajesIzquierda .personaje3,
.container .PersonajesDerecha .personaje3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
}

.container .PersonajesIzquierda .personaje4,
.container .PersonajesDerecha .personaje4 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 5 / 2;
}

.container .PersonajesIzquierda .personaje5,
.container .PersonajesDerecha .personaje5 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5 / 1 / 6 / 2;
}

.container .PersonajesDerecha {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 6 / 4;
}

.container .PersonajesDerecha [class^="personaje"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .Buscador {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  border: 3px solid #03435c;
  border-radius: 5px;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #11232f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .Buscador input {
  background: radial-gradient(ellipse at center, #415663 0%, #11242b 100%);
  padding: 0;
  border: none;
  color: white;
  height: 35px;
}

.container .Buscador #busca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .Buscador div img {
  width: 30px;
  height: 30px;
}

.container .Campeones {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 6 / 3;
  background-color: #11232f;
  border: 3px solid #03435c;
  border-radius: 5px;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: scroll;
  height: 530px;
  margin: 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .Campeones div {
  margin: 2px;
}

.container .Campeones::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #051118;
}

.container .Campeones::-webkit-scrollbar {
  width: 12px;
  background-color: #051118;
}

.container .Campeones::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0f4859;
}

.container .BansIzquierda {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 6 / 1 / 7 / 2;
  background-color: black;
}

.container .Chat {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 6 / 2 / 7 / 3;
  background-color: blue;
}

.container .BansDerecha {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 6 / 3 / 7 / 4;
  background-color: black;
}
/*# sourceMappingURL=css.css.map */